{% extends "base.html" %}

{% block title %}Calls{% endblock %}

{% block content %}

<style>
th {
    text-align:center;
}

table {
  width: 300%;
  border-collapse: collapse;
}

.hack1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.hack2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
</style>

<br><br>

<!-- CALL SUMMARY STARTS -->
<div class="portfolio" id="call_summary_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Call Summary</h3>
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <div class="hack1">
                            <div class="hack2">
                                <table class="table table-bordered table-striped mb-0">
                                    {% for table in call_summary_tables %}
                                    {{ table|safe }}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BUTTON STARTS -->
<div class="call-to-action">
    <div style="background-image: url('../static/images/ttsh_building.jpg'); ">
        <div class="call-overlay">
            <div class="container">
                <div class="row">
                    <a class="contact-button" href="{{url_for('download_points')}}">Download as PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BUTTON ENDS -->

{% endblock %}