{% extends "base.html" %}

{% block title %}Excel Error{% endblock %}

{% block content %}

<style>
th {
    text-align:center;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
</style>

<br><br>

<!-- ERROR TABLE STARTS -->
<div class="testimonials" id="points_junior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text">
                <b>{{empty_excel}}</b>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ERROR TABLE ENDS -->

{% endblock %}