{% extends "base.html" %}

{% block title %}Points{% endblock %}

{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- WELCOME STARTS -->
<div class="banner" id="banner">
    <div style="background-image: url('../static/images/ttsh_building.jpg'); ">
        <div class="bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-text">
                            <h2>Welcome to Roster Schedule!</h2>
                            <button type="button" class="contact-button" data-toggle="modal" data-target="#emailFilterModal">Generate Schedule</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- WELCOME ENDS -->

<!-- EMAIL FILTER MODAL STARTS -->
<div class="modal fade bd-example-modal-sm" id="emailFilterModal" tabindex="-1" role="dialog" aria-labelledby="emailFilterModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="col text-center">
                <div class="modal-header">
                    <h3 class="modal-title" id="emailFilterModal">Generate Schedule For
                    <button type="button" class="close" data-dismiss="modal">&times;</button></h3>
                </div>
                <div class="modal-body">
                    <form action='extract_dates' method='post'>
                        Selected Month:
                        <select name='selected_month' class="form-control">
                            <option>January</option>
                            <option>February</option>
                            <option>March</option>
                            <option>April</option>
                            <option>May</option>
                            <option>June</option>
                            <option>July</option>
                            <option>August</option>
                            <option>September</option>
                            <option>October</option>
                            <option>November</option>
                            <option>December</option>
                        </select>
                        <br>
                        Start Date:
                        <input type='text' id="startDate" name='start_date' placeholder="dd-mm-yyyy" class="form-control"/>
                        <br>
                        End Date:
                        <input type='text' id="endDate" name='end_date' placeholder="dd-mm-yyyy" class="form-control"/>
                        <br><br>
                        <input class="contact-button" type='submit' value='Generate' />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EMAIL FILTER MODAL ENDS -->

<script>
$('input[id$=startDate]').datepicker({
    dateFormat: 'dd-mm-yy'
});

$('input[id$=endDate]').datepicker({
    dateFormat: 'dd-mm-yy'
});
</script>
{% endblock %}