{% extends "base.html" %}

{% block title %}ICU Duties{% endblock %}

{% block content %}

<style>
th {
    text-align:center;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
</style>

<br><br>

<!-- ICU DUTIES 1 STARTS -->
<div class="testimonials" id="icu_duties_1_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text">
                <h3>ICU 1</h3>
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th><input type='text' placeholder='Dr A'></th>
                                <th><input type='text' placeholder='Dr B'></th>
                                <th><input type='text' placeholder='Dr C'></th>
                                <th><input type='text' placeholder='Dr D'></th>
                                <th scope="col">Total On Call</th>
                            </tr>
                        </thead>

                        <!-- <tfoot>
                            <tr>
                                <td>Total On Call</td>
                                <td>$180</td>
                            </tr>
                        </tfoot> -->

                        <tbody>
                            <tr>
                            {% for key,overall_summary_item in call_summary_dict.items() %}
                                <th>{{key}}</th>
                                <td><input type='text'></td>
                                <td><input type='text'></td>
                                <td><input type='text'></td>
                                <td><input type='text'></td>
                                <td>1</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ICU DUTIES 1 ENDS -->

<!-- ICU DUTIES 2 STARTS -->
<div class="portfolio" id="icu_duties_2_table">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text">
                <form method='post'>
                <h3>ICU 2</h3>
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><input type='text' placeholder='Dr A'></th>
                                    <th><input type='text' placeholder='Dr B'></th>
                                    <th><input type='text' placeholder='Dr C'></th>
                                    <th><input type='text' placeholder='Dr D'></th>
                                    <th scope="col">Total On Call</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                {% for key,overall_summary_item in call_summary_dict.items() %}
                                    <th>{{key}}</th>
                                        <td><input type='text' name='first'></td>
                                        <td><input type='text' name='second'></td>
                                        <td><input type='text' name='third'></td>
                                        <td><input type='text' name='fourth'></td>
                                        <td>1</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br><br>
                    </div>
                </div>
                <br><br>
                <input class="contact-button" type='button' value='Submit' />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ICU DUTIES 2 ENDS -->

<!-- BUTTON STARTS -->
<div class="call-to-action">
    <div style="background-image: url('../static/images/ttsh_building.jpg'); ">
        <div class="call-overlay">
            <div class="container">
                <div class="row">
                    <a class="contact-button" href="{{url_for('download_icu_duties')}}">Download as PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BUTTON ENDS -->

{% endblock %}