{% extends "base.html" %}

{% block title %}Past Timetable{% endblock %}

{% block content %}

<style>
th {
    text-align:center;
}

table {
  width: 300%;
  border-collapse: collapse;
}

.hack1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.hack2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
</style>    

<br><br>

<!-- TIMETABLE (JUNIOR) STARTS -->
<div class="testimonials" id="timetable_table_junior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text">
                <h3>Timetable (Junior Doctors)</h3>
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <div class="hack1">
                        <div class="hack2">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th><div style="width:100px;"></div></th>
                                        {% for date, schedule in innerValue3.items() %}
                                            <th><div style="width:100px;">{{date.split()[0]}}<br>{{date.split()[1]}}</div></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                    {% for status, doctors in timetable_dict.items() %}
                                        {% if status == "J" %}
                                            {% for doctor, schedule in doctors.items() %}
                                                <td><b>{{doctor}}</b></td>
                                                {% for date, allocation in schedule.items() %}
                                                    {% for type, remarks in allocation.items() %}
                                                        {% if type == "Duty" %}
                                                        <td style=background-color:#9FEDD7>
                                                            {{type}}<br>({{remarks}})
                                                        </td>
                                                        {% elif type == "Training" %}
                                                        <td style=background-color:#FBE8A6>
                                                            {{type}} ({{remarks}})
                                                        </td>
                                                        {% elif type == "Working" %}
                                                        <td style=background-color:#FCE181>
                                                            {{type}}
                                                        </td>
                                                        {% elif type == "Priority Leave" %}
                                                        <td style=background-color:#D3E3FC>
                                                        {{type}} ({{remarks}})
                                                        </td>
                                                        {% elif type == "Off" %}
                                                        <td style=background-color:#FEF9C7>
                                                            {{type}}
                                                        </td>
                                                        {% endif %}      
                                                    {% endfor %}
                                                {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TIMETABLE (JUNIOR) ENDS -->

<!-- TIMETABLE (SENIOR) STARTS -->
<div class="portfolio" id="timetable_table_senior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text">
                <h3>Timetable (Senior Doctors)</h3>
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <div class="hack1">
                        <div class="hack2">
                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th><div style="width:100px;"></div></th>
                                        {% for date, schedule in innerValue3.items() %}
                                            <th><div style="width:100px;">{{date.split()[0]}}<br>{{date.split()[1]}}</div></th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                    {% for status, doctors in timetable_dict.items() %}
                                        {% if status == "S" %}
                                            {% for doctor, schedule in doctors.items() %}
                                                <td><b>{{doctor}}</b></td>
                                                {% for date, allocation in schedule.items() %}
                                                    {% for type, remarks in allocation.items() %}
                                                        {% if type == "Duty" %}
                                                        <td style=background-color:#9FEDD7>
                                                            {{type}}<br>({{remarks}})
                                                        </td>
                                                        {% elif type == "Training" %}
                                                        <td style=background-color:#FBE8A6>
                                                            {{type}} ({{remarks}})
                                                        </td>
                                                        {% elif type == "Working" %}
                                                        <td style=background-color:#FCE181>
                                                            {{type}}
                                                        </td>
                                                        {% elif type == "Priority Leave" %}
                                                        <td style=background-color:#D3E3FC>
                                                           {{type}} ({{remarks}})
                                                        </td>
                                                        {% elif type == "Off" %}
                                                        <td style=background-color:#FEF9C7>
                                                            {{type}}
                                                        </td>
                                                        {% endif %}    
                                                    {% endfor %}
                                                {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- TIMETABLE (SENIOR) ENDS -->

<!-- BUTTON STARTS -->
<div class="call-to-action">
    <div style="background-image: url('../static/images/ttsh_building.jpg'); ">
        <div class="call-overlay">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BUTTON ENDS -->
{% endblock %}

