{% extends "base.html" %}

{% block title %}Points{% endblock %}

{% block content %}

<style>
th {
    text-align:center;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}
</style>

<br><br>

<!-- PDF MODAL STARTS -->
<div class="modal fade bd-example-modal-sm" id="pdfModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="col text-center">
                <div class="modal-header">
                    <h3 class="modal-title">PDF Download
                    <button type="button" class="close" data-dismiss="modal">&times;</button></h3>
                </div>
                <div class="modal-body">
                    PDF downloaded successfully! Please check your folder.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PDF MODAL ENDS -->

<!-- POINTS (JUNIOR) STARTS -->
<div class="testimonials" id="points_junior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text">
                <h3>Points Summary (Junior Doctors)</h3>
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th><div style="width:100px;"></div></th>
                                <th><div style="width:100px;">Month Calls</div></th>
                                <th><div style="width:100px;">Month Call Points</div></th>
                                <th><div style="width:100px;">WD</div></th>
                                <th><div style="width:100px;">Fri</div></th>
                                <th><div style="width:100px;">Sat</div></th>
                                <th><div style="width:100px;">Sun</div></th>
                                <th><div style="width:100px;">Pre-PH</div></th>
                                <th><div style="width:100px;">PH</div></th>
                                <th><div style="width:100px;">Sat/Sun AM</div></th>
                                <th><div style="width:100px;">Leave</div></th>
                                <th><div style="width:100px;">Clinic 1</div></th>
                                <th><div style="width:100px;">Clinic 2</div></th>
                                <th><div style="width:100px;">Clinic 3</div></th>
                                <th><div style="width:100px;">Clinic 4</div></th>
                                <th><div style="width:100px;">Duties</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for status, doctors in overall_summary.items() %}
                                {% if status == "J" %}
                                    {% for doctor, schedule in doctors.items() %}
                                        <td><b>{{doctor}}</b></td>
                                        {% for allocation, number in schedule.items() %}
                                            <td>{{number}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POINTS (JUNIOR) ENDS -->

<!-- POINTS (SENIOR) STARTS -->
<div class="portfolio" id="points_senior">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text">
                <h3>Points Summary (Senior Doctors)</h3>
                <div class="row">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th><div style="width:100px;"></div></th>
                                <th><div style="width:100px;">Month Calls</div></th>
                                <th><div style="width:100px;">Month Call Points</div></th>
                                <th><div style="width:100px;">WD</div></th>
                                <th><div style="width:100px;">Fri</div></th>
                                <th><div style="width:100px;">Sat</div></th>
                                <th><div style="width:100px;">Sun</div></th>
                                <th><div style="width:100px;">Pre-PH</div></th>
                                <th><div style="width:100px;">PH</div></th>
                                <th><div style="width:100px;">Sat/Sun AM</div></th>
                                <th><div style="width:100px;">Leave</div></th>
                                <th><div style="width:100px;">Clinic 1</div></th>
                                <th><div style="width:100px;">Clinic 2</div></th>
                                <th><div style="width:100px;">Clinic 3</div></th>
                                <th><div style="width:100px;">Clinic 4</div></th>
                                <th><div style="width:100px;">Duties</div></th>
                            </tr>

                            <!-- <tr>
                                <th><div style="height:20px; width:100px;"></div></th>
                                {% for status, doctors in overall_summary.items() %}
                                    {% for doctor,schedule in doctors.items() %}
                                        {% for allocation, summary in schedule.items() %}
                                            <th><div style="height:20px; width:100px;">{{allocation}}</div></th>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </tr> -->

                        </thead>
                        <tbody>
                            <tr>
                            {% for status, doctors in overall_summary.items() %}
                                {% if status == "S" %}
                                    {% for doctor, schedule in doctors.items() %}
                                        <td><b>{{doctor}}</b></td>
                                        {% for allocation, number in schedule.items() %}
                                            <td>{{number}}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POINTS (SENIOR) ENDS -->

<!-- BUTTON STARTS -->
<div class="call-to-action">
    <div style="background-image: url('../static/images/ttsh_building.jpg'); ">
        <div class="call-overlay">
            <div class="container">
                <div class="row">
                    <a class="contact-button" href="{{url_for('download_points')}}" onclick="downloadPDF()">Download as PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BUTTON ENDS -->

<script>
// TO DOWNLOAD AS PDF
function downloadPDF() {
    $("#pdfModal").modal("show");
    window.stop();
}
</script>

{% endblock %}