<!doctype html>
<html>
    <head>
        <title>SCRATCH</title>
    </head>
    <body>

    <table border="1">
    <!-- <tr>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>E</th>
    </tr> -->

    <!-- <tr>
    {% for key,parent_dict_item in result.items() %}
        <td><b>{{key}}</b></td>
        {% for key2, nested_value in parent_dict_item.items() %}
            <td>{{nested_value}}</td>
        {% endfor %}
    </tr>
    {% endfor %} -->

    <tr>
      {% for key,parent_dict_item in result.items() %}
          <td><b>{{key}}</b></td>
      {% endfor %}
    </tr>

    <tr>
    {% for key,parent_dict_item in result.items() %}
        {% for key2, nested_value in parent_dict_item.items() %}
            <td>{{nested_value}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>

    <br><br>

    <!-- <table border="1">    
        <tr>
        {% for key,parent_dict_item in dict1.items() %}
            {% for key2, nested_value2 in parent_dict_item.items() %}
                {% for key3, nested_value3 in nested_value2.items() %}
                    <td>{{nested_value3}}</td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
        </table> -->



            {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
            {% endfor %}

    </body>
</html>